# Deps
node_modules/

# IDE folders
.idea
.vscode/

# Environment specific stuff
.env
.env.test
.env.development

# For testing pull request workflows locally
pull_request.json

# Other
*~
*.txt
**/.DS_Store

# Build
dist/
